*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    /* font-family: 'Reem Kufi', sans-serif;      */
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

body{
    background-color: #ffffff;
}

h3{
    text-wrap: balance;
    color: #161616;
}

p{
    font-size: 16px !important;
}

.container{        
    margin: 0 auto;
    width: 100%;
    max-width: 420px;
    background-color: #fff;    
}

.header{
    background-color: #fff;        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;    
}

.logo{
    width: 116px;
    height: auto;
}

.content-box{    
    position: sticky;
    top: 0px;
    background-color: #fff;
    /* box-shadow: 0 0 10px 10px #fff; */
    padding-bottom: 16px;
    border-bottom: 1px solid #bebebe;
    padding-top: 5px;    
    margin: 0 auto;
}

.searcher{   
    position: relative;    
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30px);
    border-radius: 4px;
    margin: 0 auto;
    padding: 6px 10px;
    margin-top: 15px;        
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075);
}

.btn{
    border: 0;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
}

.input-txt{
    padding: 5px;
    font-size: 18px;
    width: 100%;
    margin: 0 5px;
    border: none;    
}

.main{    
    padding: 5px 5px 50px 5px;
    display: flex;
    flex-wrap: wrap;

}

.card{
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #161616;
}

.card-2col{
    min-width: 50%;
    max-width: 50%;
    height: 260px;
}

.card-1col{
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.card-1col > .card__img__container > img{
    height: auto !important;
}

.card__img{
    width: 100%;
    min-width: 100%;
    height: 160px;
    border-radius: 4px;
    object-fit: cover;
}

.card__img__item{
    width: 100%;    
    border-radius: 4px;
    object-fit: cover;
}

.card__title{
    margin: 10px 0 5px 0;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-wrap: balance;
}

.card__main-info{
    display: flex;
    flex-direction: column;
}

.card__more-info{
    margin-top: 15px;
}

.card__main-info__cat{
    display: none;
    color: #636363;
}

.card__main-info__price{
    color: #494949;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;
}

.separator{
    background-color: #e4e4e4;
    width: 100%;
    height: 1px;
    margin: 15px 0;
}

.card__shower{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin-top: 5px;
    cursor: pointer;
}

.card__shower__text{
    color: #5e5e5e;
    font-weight: 600;
}

.hidden{
    display: none;    
}

.hidden-outside{
    right: -100% !important;
}

.filter{
    border: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;    
    background-color: #fff;    
    padding: 10px 5px 15px 15px;    
    width: calc(100% - 60px);    
    max-width: 360px;    
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075);
    transition: all .2s;    
}

.filter__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;    
    margin-bottom: 10px;
}

.filter__body{
    height: auto;    
    overflow-y: auto;
}

.filter__title{
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;    
}

.filter__item{
    margin: 16px 0;
    font-size: 18px;
    font-weight: 400;
}

.info{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.card__img__container{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.shower-indicator{
    transform: rotate(180deg);    
}

.list li{
    margin: 5px 0 5px 20px;    
    font-size: 16px;
}

.wa{
    padding: 0;
    display: flex;
    gap: 5px;
    align-items: center;    
    border: 1px solid #075E54;      
    color: #075E54;
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;    
    font-size: 19px;
    text-decoration: none;
    overflow: hidden;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075);
}

.wa-left{
    padding: 12px 12px 6px 12px;
    background-color: #075E54;
    vertical-align: middle;
    justify-content: center;
    width: 55px;
    height: 100%;    
}

.wa-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}


#productContainer{
    padding: 15px;    
}

.flex-box{
    padding: 12px 12px 0px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back{
    border:none;
    display: block;    
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px 6px 6px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #161616;
    font-size: 16px;    
}

#imagesContainer{    
    display: flex;    
    gap: 5px;
    overflow-y: auto;
    margin-bottom: 15px;
    height: 360px;
    border-radius: 8px;
}

#imagesContainer > img{
    object-fit: cover;
}

.rotate{
    transform: rotate(90deg);
}

.description-block > li{
    background-color: red;
}

details > summary {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 5px;    
}

.sans-serif{
    font-family: sans-serif !important;
}

.mb-fix{
    margin-bottom: 24px !important;
}

.mt-fix{
    margin-top: 6px;
}

.copy{
    width: 64px;
    margin-top: 15px;    
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border: 1px solid #bebebe; 
    background-color: #fff;
    color: #3d3d3d;
    border-radius: 8px;
    font-size: 19px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075);
}

.fs-fix{
    font-size: 16px !important;
}

.c-gray{
    color: #646464;
}

.relative{
    position: relative;
}

.small-id{    
    position: absolute;
    top: 4px;
    left: 5px;
    background-color: #ebebeb;
    color: #161616;
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 10px;
    font-family: sans-serif;
}

.msj{
    display: flex;
    gap: 15px;
    background-color: #f0d2cc;
    padding: 10px 10px 10px 20px;
    border-radius: 8px;
    color: #3d3d3d;    
    margin-bottom: 15px;
}

.msj > img{
    width: 32px;
    height: auto;
    filter:opacity(.5) ;
}

.container-btns{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    max-height: 70px;
}

.addi{
    border: 1px solid #c0c0c0;
    border-radius: 8px;    
    padding: 10px;
    margin-bottom: 15px;
    color: #3d3d3d;
}

.addi > img{
    height: 14px;
    margin-left: 5px;
}

.cols-wrapper{    
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.btn-col{
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075);
    border: none;
    border-radius: 4px;
    padding: 6px 8px;
    background-color: #fff;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #bebebe;    
}

.order-list{
    position: absolute;
    bottom: 55px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075);
}

.order-list > ul{
    list-style: none;
}

.order-list > ul > li{
    margin: 12px 0;
}